{% extends "accounts/index.html" %}
{% load static %}
{% block title %}Email Activation Failed{% endblock %}
{% block content %}
	<h1 style="font-weight: bold;">WWC V1 EMAIL ACTIVATION FAILED</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<div>
				<p>Sorry! This link is invalid or has been used already!</p>
				<input class="resend-email" onclick="window.location=`{% url 'resend-activation-email' %}`" type="submit" value="RESEND ACTIVATION EMAIL">
            </div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script>
		window.onload = function() {
			document.cookie = 'activation_email=' + '{{email}}' + ";domain=;path=/"
		}
	</script>
{% endblock %}