{% extends "accounts/index.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
	<h1 style="font-weight: bold;">WWC V1 LOGIN FORM</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form method="post" class="login-form">
				{% csrf_token %}
				
				<input type="text" name="email_or_phone" placeholder="Email or Phone" class="text" required/>
				<p class="error"></p>
                <input type="password" name="password" placeholder="Password" class="text" required/>
				<p class="error"></p>

				<div class="wthree-text" >
				<input id="submit-btn" type="submit" value="LOGIN">
			</form>
			<p>
				Don't have an Account? <a href="{% url 'register' %}"> Register Now!</a>
				<br>Forgot Password? <a href="{% url 'reset_password' %}">Click Here</a>
			</p>
			
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('.login-form').on('submit', function(e) {
			$('#submit-btn').replaceWith('<input id="submit-btn" type="submit" value="LOGIN ..." disabled style="pointer-events: none; background-color: #cccccc; border: 1px solid #999999; color: #666666;">')

			e.preventDefault();
			$.ajax({
				url: "{% url 'login' %}",
				data: $(this).serialize(),
				type: 'POST',
				dataType: 'json',
				success: function(response){
					if(response?.success){
						Toast.fire({
							icon: 'success',
							title: response?.success,
							timer: 1200
						}).then(function() {
							window.location.href = "/"
							$('#submit-btn').replaceWith('<input id="submit-btn" type="submit" value="LOGIN">')
						})

					} else if (response?.credentials_error){
						$('#submit-btn').replaceWith('<input id="submit-btn" type="submit" value="LOGIN">')
                        Toast.fire({
							icon: 'error',
							title: response?.credentials_error
						})
					} else if (response?.email_error){
						$('#submit-btn').replaceWith('<input id="submit-btn" type="submit" value="LOGIN">')
                        Toast.fire({
							icon: 'error',
							title: response?.email_error
						})
					} else if (response?.phone_error){
						$('#submit-btn').replaceWith('<input id="submit-btn" type="submit" value="LOGIN">')
                        Toast.fire({
							icon: 'error',
							title: response?.phone_error,
							timer: 2000
						}).then(function() {
							window.location.href = `/accounts/verify-phone/?phone=${response?.phone}`
						})
					}
				}

			})
		})
    </script>
{% endblock %}