{% extends "accounts/index.html" %}
{% load static %}
{% block title %}Reset Password Form{% endblock %}
{% block content %}
    <style>
        li{
            color: gold;
            font-size: 12px;
            font-weight: bold;
            margin-top: 10px;
        }
    </style>
	<h1 style="font-weight: bold;">RESET PASSWORD FORM</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
            <p style="font-weight: bold; margin-bottom: 10px;">Please enter your new password twice so we can verify you typed it in correctly.</p>
			<form method="post" class="login-form">
				{% csrf_token %}
				
				{{form.new_password1}}
				<p></p>
				{{form.new_password2}}
				{{ form.new_password2.errors }}

				<div class="wthree-text" >
				<input type="submit" value="UPDATE PASSWORD">
			</form>
			<p><a href="{% url 'login' %}"> Back to Login!</a></p>
		
		</div>
	</div>
{% endblock %}