{% extends "accounts/index.html" %}
{% load static %}
{% block title %}Request Reset Password{% endblock %}
{% block content %}
	<h1 style="font-weight: bold;">REQUEST RESET PASSWORD</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
            <p style="font-weight: bold; margin-bottom: 10px;">Forgotten your password? <br>Enter your email address below and we'll email instructions for setting a new one.</p>
			<form method="post" class="login-form">
				{% csrf_token %}
				{{form.email}}

				<div class="wthree-text" >
				<input type="submit" value="SEND EMAIL">
			</form>
			<p><a href="{% url 'login' %}"> Back to Login!</a></p>
		</div>
	</div>
{% endblock %}
