{% extends "accounts/index.html" %}
{% load static %}
{% block title %}Password Reset Sent{% endblock %}
{% block content %}
	<h1 style="font-weight: bold;">EMAIL SENT</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
            <p style="font-weight: bold; margin-bottom: 10px;">We've emailed you with instructions for resettng your password. If an account exists with the email you entered, you should receive it shortly</p>
            <p style="font-weight: bold; margin-bottom: 10px;">If you didn't receive an email, make sure you've entered the email address you registered with, and check your spam folder.</p>

			<p><a href="{% url 'login' %}"> Back to Login!</a></p>
		</div>
	</div>
{% endblock %}
